.con2{
    background-color: red;
    width: 600px;
    height:200px;
    
}
.dot{
  height: 100px;
  width: 100px;
  background-color: #bbb;
  border-radius: 50%;
  position:relative;
  margin-top: 25%;
 }
  
.con4{
    background-color: rgb(232, 218, 218);
    width: 600px;
    height:400px;
    text-align: center;
    font-size: 10;
    justify-content: center;
}
